.BrandBusiness-container {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    height: 600px;
}

.chart {
    position: absolute;
    top: 0;
    right: -20px;
    width: 300px
}

.schedule {
    position: absolute;
    width: 600px
}

.trusted {
    position: absolute;
    bottom: 0;
}