.BrandBusiness-container {
    height: 450px;
    width: 500px;
    /*height: 70vh;*/
    /*border: 1px solid red;*/
}

.BrandBusiness {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    flex: 1;
    height: 350px;
    width: 500px;
    border: 1px solid red;
}

.chart {
    position: absolute;
    top: 0;
    right: 40px;
    width: 250px
}

.schedule {
    position: absolute;
    width: 450px;
    /*margin-top: 20px;*/
    /*top: 40px;*/
    /*right: 30px;*/
}

.trusted {
    width: 250px;
    position: absolute;
    left: 10px;
    bottom: 20px;
}


@media (min-width: 1051px) and (max-width: 1300px) {

}

@media (min-width: 701px) and (max-width: 1050px) {


    .chart {
        display: none;
    }
}

@media screen and (max-width: 1050px) {
    .BrandBusiness-container {
        /*width: 70vw;*/
    }

    .chart {
        bottom: 0;
    }
}

@media screen and (max-width: 700px) {
    .chart {
        display: none;
    }

    .schedule {
        position: absolute;
        top: 0;
    }

    .trusted {
        position: absolute;
        bottom: -450px;
    }
}

@media (min-width: 551px) and (max-width: 700px) {
    .chart {
        /*display: none;*/
    }

    .schedule {
        /*display: none;*/
    }

    .trusted {
        /*display: none;*/
    }

    .BrandBusiness-container {
        /*display: none;*/
    }

    .BrandBusiness {
        /*display: none;*/
        /*flex-direction: column;*/
    }
}


@media screen and (max-width: 550px) {
    /*.BrandBusiness-container {*/
    /*    left: -30px;*/
    /*    position: relative;*/

    /*}*/

    .schedule {
        position: absolute;
        width: 450px;
        top: 40px;
    }

    .trusted {
        width: 270px;
        top: 290px;
    }
}