.plans-difference-container {
    display: flex;
    align-items: center;
    width: 80vw;
    justify-content: center;
    /*border: 1px solid red;*/
    margin-bottom: 200px;
}

.plans-difference {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 90px;
}

.diff-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.diff-top p {
    font-size: 25px;
    width: 45vw;
    text-align: center;
}

.diff-bottom-container {
    display: flex;
    overflow: hidden;
    /*flex-wrap: wrap;*/
    justify-content: start;
    gap: 31px;
    width: 100%;
}

.dfc {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 80vw;
    gap: 10px;
}