.plans-difference-container {
    display: flex;
    align-items: center;
    width: 80vw;
    justify-content: center;
    border: 1px solid red;
}

.plans-difference {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.diff-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.diff-top p {
    font-size: 25px;
    width: 45vw;
    text-align: center;
}

.diff-bottom-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.diff-bottom {
    display: flex;
    flex-direction: column;
    width:25vw;
    border: 1px solid red;
    position: relative;
}

