.plans-difference-container {
    display: flex;
    align-items: center;
    width: 80vw;
    justify-content: center;
    /*border: 1px solid red;*/
    margin-bottom: 200px;
}

.plans-difference {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 90px;
}

.diff-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.diff-top p {
    font-size: 25px;
    width: 45vw;
    text-align: center;
}

.diff-bottom-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.diff-bottom {
    display: flex;
    flex-direction: column;
    width:25vw;
    /*border: 1px solid red;*/
    position: relative;
    border-radius: 13px;
    gap: 20px;
    background-color: #242525;
}

.free {
    font-weight: 600;
    font-size: 14px;
    padding: 8px 2px;
    /*border: 1px solid red;*/
    width: 45%;
    display: flex;
    justify-content: center;
    border-top-left-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: #FCD2D6;
    color: #0A0909;
}

.within {
    padding: 0 15px 60px 15px;
    gap: 20px;
}

.diff-bottom-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.premium-package {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 14px;
}

.premium-package img {
    width: 40px;
}

.individual {
    font-size: 30px;
    color: #FCD2D6;
}

.price-container {
    font-size: 14px;
}

.for {
    font-weight: 800;
}

.price {
    color: #A4A5A5;
    font-size: 13px;
}

.diff-bottom-bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.criteria {
    display: flex;
}

ul {
    list-style-type: none;
}

li::before {
    content: "\2022";
    padding-right: 6px;
}

li {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    margin-bottom: 3px;
}

.activate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}