.trial-offer-container {
    background-image: url("../../assets/trialImage (1).png");
    height: 60vh;
    width: 70vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding: 0 40px;
}

.trial-offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
}

.trial-offer-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 60%;
}

.trial-offer-left h1 {
    font-size: 2.3rem;
    font-weight: 900;
}

.trial-offer-left p {
    font-size: 0.9rem;
}

.input-area {
    display: flex;
    position: relative;
}

.input-area input {
    padding: 18px 140px 18px 20px;
    border: none;
    border-radius: 50px;
}

.input-area button {
    border: none;
    border-radius: 50px;
    padding: 13px 30px;
    position: absolute;
    right: 193px;
    top: 5px;
    background-color: #2F2F2F;
    color: white;
}

.benefits {
    display: flex;
    align-items: center;
    gap: 20px;
}

.each-benefits {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 0.9rem;
    font-weight: 600;
}

.each-benefits img {
    width: 17px;
}

.trial-offer-right img {
    width: 28rem;
    position: absolute;
    top: -60px;
    right: -60px;
}