.trial-offer-container {
    background-image: url("../../assets/trialImage (1).png");
    height: 60vh;
    width: 70vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding: 0 40px;
}

.trial-offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}