.simple-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 80vw;
}

.simple-container-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.simple-container-body-contents {
    display: flex;
    flex-direction: column;
    Width: 310px;
    border: 1px solid red;
    padding: 30px;
    border-radius: 20px;
}

.simple-container-body-first {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category {
    font-size: 14px;
    font-weight: 500;
    width: 70px;
    display: flex;
    justify-content: center;
    padding: 8px 18px;
    border-radius: 20px;
    background-color: #F6F6F6;
    color: #2F2F2F;
}