.plans-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #171717;
    height: 50vh;
}

.plans-footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.plans-footer-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.plans-footer-left p {
    font-weight: 800;
    font-size: 13px;
}

.newsletter-register {
    display: flex;
    gap: 5px;
}