.plans-footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #171717;
    height: 50vh;
}

.plans-footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.plans-footer-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.plans-footer-left p {
    font-weight: 800;
    font-size: 13px;
}

.newsletter-register {
    display: flex;
    gap: 5px;
}

.newsletter-register input {
    border: none;
    padding: 13px 15px 13px 10px;
    font-weight: bold;
    font-size: 12px;
    color: white;
    background-color: #929191;
}

.newsletter-register input::placeholder {
    color: white;
}

.newsletter-register button {
    background-color: #A02B3C;
    border: none;
    padding: 10px;
    color: white;
}