.article-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 303px;
}

.article-img {
    background-image: url("../../../assets/ArtilceImg1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 240px;
    width: 300px;
    border-radius: 20px;
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
}

.article-img-categories {
    gap: 5px;
    display: flex;
    position: absolute;
    bottom: 13px;
    left: 13px;

}

.article-img-categories p {
    background-color: white;
    display: flex;
    color: black;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 13px;
}

.dateRead {
    display: flex;
    font-size: 0.9rem;
    gap: 6rem;
    color: #bebebe;
    padding: 0 5px;
}

.article-body-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

.article-body-container h1 {
    font-size: 1.3rem;
    width: 100%;
    line-height: 35px;
}

.article-body-container p {
    font-size: 0.87rem;
    width: 100%;
    color: #bebebe;
    line-height: 25px;
}

.view-more {
    color: white;
    cursor: pointer;
}

.third-art .article-img {
    background-image: url("../../../assets/thirdart.png");
}

.second-art .article-img {
    background-image: url("../../../assets/secondart.png");
}


@media screen and (max-width: 1050px) {

}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 550px) {
    .dateRead {
        display: flex;
    }
}