.news-article-container {
    margin-top: 120px;
    border: 1px solid red;
    width: 70vw;
    border-radius: 20px;
    /*padding: 20px;*/
}

.news-article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-article-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-article-left {
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: 20px;
}

.news-article-left h1 {
    font-size: 1.7rem;
    font-weight: 800;
}

.news-article-left p {
    font-size: 0.9rem;
}

.news-article-right button {
    padding: 15px 25px;
    border-radius: 50px;
    border: 1px solid #fff;
    font-size: 0.8rem;
    background-color: #030C18;
    color: #fff;
}

.news-article-bottom {
    width: 100%;
}

.article-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}