.each-content {
    display: flex;
    flex-direction: column;
    width: 290px;
    gap: 10px;
    cursor: pointer;
}

.each-content h1 {
    font-size: 25px;
    font-weight: 900;
    color: #d0d0d0;
}

.each-content h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    width: 170px;
    color: #d0d0d0;
}

.each-content p {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #d0d0d0;
}

.each-content:active h1 {
    color: #5956E9;
}

.each-content:hover h1 {
    color: #5956E9;
}

@media (min-width: 601px) and (max-width: 680px) {
    .each-content h1 {
        font-size: 1.5rem;
    }

    .each-content h2 {
        font-size: 1rem;
    }

    .each-content p {
        font-size: 0.8rem;
        width: 40vw;
    }
}