.family-container {
    margin-top: 120px;
    height: 150vh;
    border: 1px solid red;
    width: 70vw;
    border-radius: 20px;
    padding: 20px;
    background-color: #030e1e;
}

.family {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 45px 30px;
}

.family-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.family-top h1 {
    font-size: 40px;
    font-weight: 800;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
}

.modal-prev {
    background-color: #424242;
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-prev img {
    width: 10px;
}

.modal-mid {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    gap: 10px;
}

.dp-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.dp {
    width: 7rem;
}

.dp-icon {
    width: 2.5rem;
    position: absolute;
    bottom: -10px;
    left: -15px;
}

.name-container {
    display: flex;
}

.name {
    font-weight: 800;
}

.rating {
    width: 7rem;
}

.details {
    font-size: 0.9rem;
    width: 30rem;
    text-align: center;
    margin-top: 10px;
}

.new-line {
    border: 1px #424242 solid;
}

.family-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.family-bottom h1 {
    font-size: 1.7rem;
    width: 30rem;
    text-align: center;
}












@media screen and (max-width: 1050px) {

}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 550px) {

}