.connect-container {
    margin-top: 400px;
    width: 63vw;
    border-radius: 20px;
}

.connect {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.connect-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.connect-left h1 {
    font-size: 2rem;
}

.connect-left p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
}

.connect-left button {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
    width: 10rem;
    border-radius: 50px;
    border: none;
}

.connect-right {
    display: block;
}

.connect-right img {
    width: 30rem;
}


@media screen and (max-width: 1050px) {
    .connect-container {
        margin-top: 300px;
    }
    
    .connect {
        flex-direction: column;
    }

    .connect img {
        display: none;
    }
}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 550px) {

}