.footer-container {
    margin-top: 100px;
    width: 70vw;
}

.footer {
    width: 100%;
    border: 1px solid red;
    display: flex;
}

.footer-left {
    width: 50%;
    /*border: 1px solid red;*/
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    color: #a2a2a2;
}

th, td {
    padding: 6px;
    text-align: left;
    font-size: 15px;
}

th {
    padding-bottom: 30px;
    color: #DCDCDC;
}

.vertical-line {
    width: 1px;
    height: 300px;
    background-color: #DCDCDC;
    margin: 0 20px;
    display: inline-block; /* Ensures the line respects width and height */
}

.footer-right-container {
    display: flex;
    height: 100%;
    width: 500px;
}

.footer-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    border: 1px solid red;
    background-color: #030E1E;
    gap: 20px;
    /*padding: 20px;*/
}

.footer-right-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.popular {
    /*background-image: url("../../assets/Popularimage.png");*/
    background-image: url("../../assets/trialImage (1).png");
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: cover;*/
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: 800;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}

.footer-right-left p {
    font-size: 1.5rem;
    font-weight: 600;
}


