.footer-container {
    margin-top: 70px;
    margin-bottom: 400px;
    width: 70vw;
    border-bottom: 1px solid #8f8f8f;
    padding-bottom: 50px;
}

.footer {
    width: 100%;
    /*border: 1px solid red;*/
    display: flex;
}

.footer-left {
    width: 50%;
    /*border: 1px solid red;*/
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    color: #a2a2a2;
}

th, td {
    padding: 6px;
    text-align: left;
    font-size: 15px;
}

th {
    padding-bottom: 30px;
    color: #DCDCDC;
}

.vertical-line {
    width: 1px;
    height: 300px;
    background-color: #8f8f8f;
    margin: 0 20px;
    display: inline-block; /* Ensures the line respects width and height */
}

.footer-right-container {
    display: flex;
    height: 100%;
    width: 500px;
}

.footer-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    /*border: 1px solid red;*/
    background-color: #04162f;
    /*gap: 20px;*/
    /*padding: 20px;*/
}

.footer-right-left {
    display: flex;
    flex-direction: column;
    /*gap: 10px;*/
    align-items: start;
}

.popular {
    /*background-image: url("../../assets/Popularimage.png");*/
    background-image: url("../../assets/trialImage (1).png");
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: cover;*/
    border-radius: 20px;
    padding: 10px 25px;
    font-weight: 800;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}

.footer-right-left p {
    font-size: 1.7rem;
    font-weight: 600;
}

.startup-count {
    font-size: 3rem;
    font-weight: 900;
}

.footer-right-left button {
    border: none;
    padding: 20px 70px 20px 20px;
    background-color: #263a59;
    border-radius: 50px;
    color: white;
    font-size: 1rem;
    margin-top: 10px;
    cursor: pointer;
}

.footer-line {
    height: 80%;
}

.footer-right-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 300px;
    justify-content: center;
}

.plan-criteria {
    display: flex;
    gap: 10px;
    align-items: center;
}

.plan-criteria img {
    height: 10px;
}




@media screen and (max-width: 1050px) {

}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 550px) {
    .footer {
        flex-direction: column;
        gap: 20px;
    }

    .footer-left {
        width: 100%;
    }

    .vertical-line {
        display: none;
    }

    th, td {
        padding: 10px;
        vertical-align: top;
    }

    .footer-right-container {
        width: 100%;
    }

    .footer-line {
        display: none;
    }

    .popular {
        padding: 10px 20px;
        font-size: 0.7rem;
    }

    .footer-right-right {
        /*display: none;*/
    }
}