.doing-board-container {
    display: flex;
}

.doing-board {
    background-image: url("../../assets/doingBoard.jpg");
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    gap: 600px;
    padding: 100px 0 0 0;
}

.doing-board-left {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.doing-board-left h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;

}

.doing-board-left p {
    font-size: 15px;
    font-weight: 600;
    text-align: left;
}

.doing-board-right {
    display: flex;
}

.doing-board-right button {
    padding: 15px 20px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    border-radius: 50px;
    border: none;
}