.doing-board-container {
    display: flex;
}

.doing-board {
    background-image: url("../../assets/doingBoard.jpg");
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    gap: 600px;
    padding: 100px 0 0 0;
}

.doing-board-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.doing-board-left h1 {
    /*width: 20%;*/
}

.doing-board-left p {

}