.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    padding: 2rem 4rem;
    color: white;
}

.navbar-nav {
    display: flex;
    gap: 10px;
}

ul li {
    list-style: none;
}