.ToolBrand {
    display: flex;
    /*flex-wrap: wrap;*/
    width: 80vw;
    align-items: center;
    margin-bottom: 80px;
    /*border: 1px solid red;*/
}

/*.ToolBrand div {*/
/*    display: flex;*/
/*    flex: 1;*/
/*}*/

.tool-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 25px;
}

.tool-container h1 {
    font-size: 30px;
    width: 200px;
    font-weight: 800;
    line-height: 40px;
}

.tool-container p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.tool-list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tool-list-item {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 15px;
}

.tool-list-item img {
    height: 20px;
}

.tool-container button {
    display: flex;
    justify-content: center;
    width: 150px;
    padding: 20px 0;
    border: none;
    gap: 10px;
    border-radius: 50px;

    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: white;
    background-color: #2F2F2F;
    cursor: pointer;
}


@media screen and (max-width: 1050px) {
    .ToolBrand {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

@media screen and (max-width: 700px) {
    .ToolBrand {
        flex-direction: column;
        height: 900px;
    }

    .trusted {
        bottom: -20px;
    }
}

@media (min-width: 551px) and (max-width: 699px) {
    .ToolBrand {
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 550px) {
    .tool-container h1 {
        width: 400px;
    }
}