.ToolBrand {
    display: flex;
    width: 80vw;
    align-items: center;
}

.tool-container {
    display: flex;
    flex-direction: column;
    width: 538px;
    gap: 25px;
}

.tool-container h1 {
    font-size: 50px;
    font-weight: 800;
    line-height: 55px;
}