.ToolBrand {
    display: flex;
    width: 80vw;
    align-items: center;
}

.tool-container {
    display: flex;
    flex-direction: column;
    width: 538px;
    gap: 25px;
}

.tool-container h1 {
    font-size: 50px;
    font-weight: 800;
    line-height: 55px;
}

.tool-container p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.tool-list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tool-list-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.tool-container button {
    display: flex;
    justify-content: center;
    width: 150px;
    padding: 20px 0;
    border: none;
    gap: 10px;
    border-radius: 50px;

    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: white;
    background-color: #2F2F2F;
    cursor: pointer;
}