.working-container {
    margin-top: 100px;
    width: 70vw;
}

.working {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 1rem;
}

.working-right {
    background-image: url("../../assets/workingImg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 330px;
    height: 370px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 20px;
}

.working-right h1 {
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
    text-align: left;
}

.working-right p {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.working-right button {
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    width: 40%;
    padding: 15px 0;
    border-radius: 50px;
    border: none;
    color: #2F2F2F;
    cursor: pointer;
}

.working-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.each-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}





@media (min-width: 1051px) and (max-width: 1180px){
    .working {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1050px) {
    .working-container {
        width: 80vw;
    }

    .working {
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
        justify-items: center;
        gap: 3rem;
    }
}

@media screen and (max-width: 700px) {
    .working {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        justify-items: center;
    }

    .each-content-container {
        margin-left: -20px;
    }
}

@media (min-width: 601px) and (max-width: 680px) {
    .each-content-container {
        gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    .working {
        display: inline-block flex;
        gap: 20px;
    }

    .each-content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



/*@media screen and (max-width: 1050px) {*/
/*    */
/*}*/

/*@media screen and (max-width: 700px) {*/
/*    */
/*}*/

/*@media screen and (max-width: 550px) {*/

/*}*/