.BottomBoard-container {
    width: 70vw;
    height: 60vh;
    background-color: white;
    position: absolute;
    bottom: -120px;
    border-radius: 10px;
    padding: 35px;
}

.BottomBoard-top {
    display: flex;
}

.BottomBoard-top-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.BottomBoard-top-left-logo img{
    height: 20px;
}

.BottomBoard-top-right-social {
    display: flex;
}